{% extends 'base.html' %}
<title>{%  block title %}Tools{% endblock %} - Violent Python</title>
{% block content %}
<div class="container-fluid pt-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Battery Information</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Percentage</th>
                                <th scope="col">Plugged In</th>
                                <th scope="col">Time Left</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-success">{{ percent }}%</td>
                                <td>{{ plugged }}</td>
                                <td class="text-danger">{{ left }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Network Information: {{ ip }}</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">IP Address</th>
                                <th scope="col">City</th>
                                <th scope="col">Region</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ ip }}</td>
                                <td>{{ city }}</td>
                                <td>{{ region }}</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th scope="col">Country</th>
                                <th scope="col">Latitude</th>
                                <th scope="col">Longitude</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ country }}</td>
                                <td>{{ lat }}</td>
                                <td>{{ long }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Recent Port Scan</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Port</th>
                                <th scope="col">Address</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for portscan in portlist %}
                            <tr>
                                <td>{{ portscan[0] }}</td>
                                <td>{{ portscan[1] }}</td>
                                <td class="text-success">{{ portscan[2] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Recent IP Scan</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Host Address</th>
                                <th scope="col">IP Address</th>
                                <th scope="col">MAC Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ipscan in iplist %}
                            <tr>
                                <td class="text-danger">{{ ipscan[0] }}</td>
                                <td>{{ ipscan[1] }}</td>
                                <td class="text-warning">{{ ipscan[2] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

